/* Box container del email completo */
.email-container{
	height: 70px;
	border-bottom: 1px solid #B5B5B5;
	padding: 15px;
	padding-left: 22px
}
/* Box container del email completo */

/* Action al pasar el mouse por encima al email*/
.email-container:hover{
	background-color: #F6F6F7;
	cursor: pointer;
}
/* Action al pasar el mouse por encima al email*/

/* Box flexible para el header del email */
.header-email{
	display: flex;
}
/* Box flexible para el header del email */
.sender {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	position: relative;
    bottom: 2px;
    left: 10px;
}
/* Box flexible para el header del email */

/* Estilo para el titulo del header del email */
.text-title{
	position: relative;
	top: 1px;
	margin-left: 10px;
}
/* Estilo para el titulo del header del email */

/* Estilo para la fecha del email */ 
.date-email {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	font-size: 12px;
	font-weight: normal;
	color: #9B9B9B;
}
/* Estilo para la fecha del email */

/* Box flexible para el subject */
.subject-box{
    display: flex;
}
/* Box flexible para el subject */

.subject{
	font-size: 16px;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
    top: 10px;
    position: relative;
}

/* Box flexible para el subject */
.body-box{
    display: flex;
}
/* Box flexible para el subject */

/* Texto del contenido del email */
.body-text{
	font-size: 14px;
	font-weight: normal;
	color: #9B9B9B;
	overflow: hidden;
	text-overflow: ellipsis; /* Agrego puntos suspensivos*/
	left: 10px;
    top: 20px;
    position: relative;
}
/* Texto del contenido del email */

/* Circulo azul para el email nuevo en la bandeja */
.blue-circle {
	border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #4990E2;
    position: relative;
    top: 12px;
    right: 9px;
}
/* Circulo azul para el email nuevo en la bandeja */